
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  
     h1,h3
     {
         text-align: center;
     }
     
    .half-width
    {
        width:100%;
        float: none;
        margin-left: none;
        padding: none;
       
    }
    .dream-area
    {
        background-image: none;
    }
    img
    {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    section
    {
        margin-bottom:100px;
    }
   .hire-button
    {
        display:inline-block;
        width: 90%;
        text-align: center;
    }
    
    .download-button
    {
        display:inline-block;
        width: 80%;
        text-align: center;
    }
    #full-dev
    {
        margin-bottom: 20px;
        height: 385px;
    }
    #baby-dev
    {
        height: 385px;
    }
    footer
    {
        margin-top: 350px;
    }
    

}